<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:#32383e !important;">
    <a class="navbar-brand" href="">
        Yani
        <!-- <img src="/static/images/logo.jpeg" height="35"> -->
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{url_for('home')}}">Home<span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="{{url_for('about')}}" style="width: 930px;">About</a>
            <a class="nav-item nav-link" href="{{url_for('login')}}">Login</a>
            <a class="nav-item nav-link" href="{{url_for('sign_up')}}">Signup</a>

        </div>
    </div>
</nav>